@use '../config/' as *;
/******* GENERAL ********/
main{
    display: grid;
    grid-template-columns: 3vw 94vw 3vw;
    background: linear-gradient(180deg, #000c, transparent);
    row-gap: 60px;
}

h1{
    font-size: rem($h1-xs);
    @include breakpoint('sm'){
        font-size: rem($h1-sm);
    }
    @include breakpoint('md'){
        font-size: rem($h1-md);
    }
    @include breakpoint('lg'){
        font-size: rem($h1-lg);
    }
}

h2{
    font-size: rem($h2-xs);
    @include breakpoint('sm'){
        font-size: rem($h2-sm);
    }
    @include breakpoint('md'){
        font-size: rem($h2-md);
    }
    @include breakpoint('lg'){
        font-size: rem($h2-lg);
    }
}

h3{
    font-size: rem($h3-xs);
    @include breakpoint('sm'){
        font-size: rem($h3-sm);
    }
    @include breakpoint('md'){
        font-size: rem($h3-md);
    }
    @include breakpoint('lg'){
        font-size: rem($h3-lg);
    }
}

h4{
    font-size: rem($h4-xs);
    @include breakpoint('sm'){
        font-size: rem($h4-sm);
    }
    @include breakpoint('md'){
        font-size: rem($h4-md);
    }
}

p{
    font-size: rem($p-xs);
    @include breakpoint('sm'){
        font-size: rem($p-sm);
    }
    @include breakpoint('lg'){
        font-size: rem($p-lg);
    }
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}
