@use '../config/' as *;

/***** HEADER XS-DEVICE *****/
header {
    display: grid;
    grid-template-rows: repeat(3, auto);

    nav {
        position: absolute;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: end;

        ul {
            width: inherit;
            height: 0;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            overflow: hidden;
            transition: height 0.2s ease-out;
            background: rgba(255, 250, 240, 0.85);
            list-style: none;

            li {
                a {
                    font-size: rem(20);
                    color: rgb(0, 0, 0);
                }
            }
        }
    }
}

#presentation {
    grid-row: 1/end;
    grid-column: 1;
    z-index: -1;
    opacity: 0.8;
}

#me {
    display: grid;
    grid-template-rows: repeat(2, 5em);
    grid-row: 2/4;
    grid-column: 1;

    h1 {
        text-align: center;
        align-self: center;
        color: floralwhite;
    }

    span {
        width: 85%;
        text-align: center;
        justify-self: center;
        align-self: center;
        font-size: rem(22);
        color: floralwhite;
    }
}

/***** HEADER SM-DEVICE *****/
@include breakpoint('sm') {
    header {
        nav {
            ul {
                li {
                    a {
                        font-size: rem(29);
                    }
                }
            }
        }

    }

    #me {
        grid-template-rows: repeat(2, 6em);

        span {
            font-size: rem(30);
        }
    }
}

/***** HEADER MD-DEVICE *****/
@include breakpoint('md') {
    #me {
        grid-template-rows: repeat(2, 8em);

        span {
            font-size: rem(40);
        }
    }
}

/***** HEADER LG-DEVICE *****/
@include breakpoint('lg') {
    header {
        nav {
            width: 18vw;
            right: 19vw;
            top: 1vh;

            ul {
                height: 60px;
                background: #00000000;
                overflow: none;
                transition: none;

                li {
                    a {
                        font-size: rem(26);
                        color: rgba(255, 250, 240, 0.85);
                        background: rgba(255, 250, 240, 0);
                        transition: background 1s ease-in-out;

                        &:hover {
                            background: linear-gradient(to right,
                                    rgb(236, 120, 149),
                                    rgb(204, 141, 234),
                                    rgb(98, 187, 234));
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
        }
    }

    #me {
        grid-template-rows: repeat(2, 10rem);

        span {
            font-size: rem(50);
        }
    }
}

/***** HEADER XL-DEVICE *****/
@include breakpoint('xl') {
    header {
        nav {
            top: 2vh;

            ul {
                li {
                    a {
                        font-size: rem(30);
                    }
                }
            }
        }
    }

    #me {
        grid-template-rows: repeat(2, 12rem);

        span {
            font-size: rem(60);
        }
    }

}


/***** HEADER XXL-DEVICE *****/
@include breakpoint('xxl') {
    header {
        nav {
            top: 3vh;

            ul {
                li {
                    a {
                        font-size: rem(35);
                    }
                }
            }
        }
    }

    #me {
        grid-template-rows: repeat(2, 14rem);

        span {
            font-size: rem(70);
        }
    }

}