@use '../config/' as *;
/*** SECTION PROJECT XS-DEVICE ****/
#project{
    grid-column: 2;
    h2{
        text-align: center;
        margin-bottom: rem(20);
    }
    h3{
        padding: 0 em(10, $h3-xs);
    }
    article{       
        display: grid;
        grid-template-rows: auto rem(200);
        margin-top: rem(20);
        justify-items: center;
        
        img{
            width: 20rem;
        }
    } 
}
.infos-project{            
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #0000005e;
    @extend img;
    p{
        font-size: initial;
        text-align: justify;
        line-height: 1.2;
        padding: 0 em(10, 16);         
    }
    a{  
        font-size: rem(17); 
        padding-right: em(20, 17);
        align-self: end;  
    }
}
/*** SECTION PROJECT SM-DEVICE ****/
@include breakpoint('sm'){
    #project{
        h3{
            padding: 0 em(10, $h3-sm);
        }
        p{
            font-size: rem(17);
            padding: 0 em(10, 17);
        }
        article{
            img{
                width: 35rem;
            }
        }
    }
}
/*** SECTION PROJECT MD-DEVICE ****/
@include breakpoint('md'){
    #project{
        h3{
            padding: 0 em(10, $h3-md);
        }
        p{
            font-size: rem(19);
            padding: 0 em(10, 19);
        }
        article{
            img{
                width: 42rem;
            }
        }
    }
}
/*** SECTION PROJECT LG-DEVICE ****/
@include breakpoint('lg'){
    #project{
        h2{
            margin-bottom: em(75, $h2-lg);
        }
        h3{
            padding: 0 em(40, $h3-lg);
        }
        p{
            padding: 0 rem(50, 19);
            
        }
        a{
            font-size: rem(20);
            padding-right: em(40, 20);
        }
        article{
            grid-template-rows: unset;
            justify-items: unset;
            grid-template-columns: repeat(2, auto);
            img{
                width: 30rem;
                height: 25rem;
            }
            &:nth-child(odd){
                img{
                    justify-self: end;
                }
                .infos-project{
                    justify-self: start;
                }
            }
            &:nth-child(even){
                img{
                    grid-column: 2;
                }
                .infos-project{
                    grid-column: 1;
                    grid-row: 1;
                    justify-self: end;
                }
            }
        }
    }
}