@use '../config/' as *;
/***** SECTION ABOUT ME XS-DEVICE *****/
#aboutme{
    grid-column: 2;
    
    h3{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.2rem;
    }
    .photo{
        width: 7rem;
        clip-path: circle(45%);
        text-align: center;
        margin: auto;
        display: flex;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
.aboutme{
    @include flex-align-center;
    
    p{
        font-size: 1.1rem;
        line-height: 1.2;
        
    }
}
.education{
    @include flex-align-center;
    
    div{
        display: grid;
        gap: 5px;
        
        h4{
            grid-row: 1;
        }

        span{
            &:nth-child(2){
                font-size: 1rem;  
            }
            &:last-child{
                font-size: 0.9rem;
                grid-row: 1;
            }
        }
    }
}
.skills{   
    display: grid;
    grid-auto-rows: max-content 355px;
    justify-items: center;
    padding: 0 5px;
    h3{
        grid-column: 1/3;
        
    }
    h4{
        text-align: center;
        margin-top: 30px;
        padding: 10px 0 20px 0;
        
    }
    .langage-tool{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
        
        .skills-icons{         
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            
            img{
                width: 2rem;
            }
        }
    }
    .workflow{
        ul{
            list-style: circle;
        
            li{
                font-size: 0.9rem; 
                padding: 2.5px 0 2.5px 0;
            }
        }
    }
}

/***** SECTION ABOUT ME SM-DEVICE *****/
@include breakpoint('sm'){
    #aboutme{
        h3{
            font-size: 2.2rem;
        }
        h4{
            font-size: 1.4rem;
        }
        
    }
    .aboutme{
        p{
            font-size: 1.2rem;
        }
    } 
    .education{
        align-items: initial;
        h3{
            align-self: center;
        }
        span{
            &:nth-child(2){
                font-size: 1.2rem;  
            }
            &:last-child{
                font-size: 1rem;
            }
        }
    } 
    .skills{
        grid-auto-columns: 50vw 50vw;
        .langage-tool{
            .skills-icons{
                img{
                    width: initial;
                }
            }
        }
        .workflow{
            ul{
                li{
                    font-size: 1.1rem;
                }
            }
        }
    }
}
    
    
