@use '../config/' as *;
/******* GENERAL ********/
body{
    font-size: $default-value;
}
main{
    display: grid;
    grid-template-columns: 3vw 94vw 3vw;
    background: linear-gradient(180deg, #000c, transparent);
    row-gap: 30px;
}

a{
    text-decoration: none;
}

footer{
    height: 15vh;
    margin-top: 10vh;
    background: linear-gradient(0deg, #000c, transparent);
    @include breakpoint('sm'){
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
