@use '../config/' as *;
/***** FOOTER XS-DEVICE *****/
.links{    
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    img{        
        width: 3rem;  
    }
}

.copyright{
    font-size: 0.7rem;
    text-align: center;
    display: block;
    width: 100%;
}
/***** FOOTER SM-DEVICE *****/
@include breakpoint('sm'){
    .links{
        a{
            padding: 0 10px;
        }
        img{
            width: 4rem;
        }
    }
    .copyright{
        font-size: 1.2rem;
    }
}