@use 'sass:map';
@use '../config/' as config;
/***** FOOTER *****/
.links{    
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    img{        
        width: 3rem;  
    }
}

.copyright{
    font-size: 0.7rem;
    text-align: center;
    display: block;
    width: 100%;
}

