@use 'sass:map';
@use '../config/' as config;
/*** SECTION PROJECT ****/
#project{
    grid-column: 2;

    h2{
        text-align: center;
        font-size: 1.7rem;
        margin-bottom: 20px;
    }

    article{       
        display: grid;
        grid-template-rows: auto 200px;
        row-gap: 15px;
        margin-top: 20px;
        justify-items: center;
        
        img{
            width: 20rem;
            border-radius: 50% 20% / 0% 40%;
            
        }
        .infos-project{            
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
    
            h3{              
                font-size: 1.5rem;  
            }

            p{
                font-size: 1.1rem;
                line-height: 1.2; 
            }

            a{  
                font-size: 1rem;   
            }
        } 
    }
}