@use '../config/' as *;
/*** SECTION PROJECT XS-DEVICE ****/
#project{
    grid-column: 2;
    h2{
        text-align: center;
        margin-bottom: rem(20);
    }
    h3{
        padding: 0 rem(10);
    }
    p{
        text-align: justify;
    }
    article{       
        display: grid;
        grid-template-rows: auto rem(200);
        margin-top: rem(20);
        justify-items: center;
        
        img{
            width: 20rem;
        }
    } 
}
.infos-project{            
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #0000005e;
    @extend img;
    p{
        font-size: initial;
        line-height: 1.2;
        padding: 0 rem(10); 
    }
    a{  
        font-size: rem(17); 
        padding: 0 rem(20);
        align-self: end;  
    }
}
/*** SECTION PROJECT SM-DEVICE ****/
@include breakpoint('sm'){
    #project{
        p{
            font-size: rem(17);
        }
        article{
            img{
                width: 35rem;
            }
        }
    }
}
/*** SECTION PROJECT MD-DEVICE ****/
@include breakpoint('md'){
    #project{
        p{
            font-size: rem(19);
        }
        article{
            img{
                width: 42rem;
            }
        }
    }
}