//VARIABLES 
$default-value: 16px !default;
// FONT - SIZE
$h1-xs: 29px;
$h1-sm: 46px;
$h1-md: 56px;
$h1-lg: 90px;

$h2-xs: 32px;
$h2-sm: 40px;
$h2-md: 45px;
$h2-lg: 55px;

$h3-xs: 25px;
$h3-sm: 32px;
$h3-md: 36px;
$h3-lg: 50px;

$h4-xs: 19px;
$h4-sm: 22px;
$h4-md: 26px;

$p-xs: 17px;
$p-sm: 22px;
$p-lg: 25px;    